<ion-view view-title="Remainder Notes">
    <ion-header-bar>
      <h1>Remainder Notes</h1>
    </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="I will remaind you" ng-model="remainder.text">
      </label>
      <label class="item item-input">
        <input type="date" ng-model="remainder.date">
      </label>
      <button class="button button-full button-positive" ng-click="saveRemainder()">
    </div>
  </ion-content>
</ion-view>
