<html>
	<head>
		<title>Text-To-Speech Service</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<meta name="description" content="Text-To-Speech Synthesis">
		<meta name="keywords" content="TTS, text-to-speech, voice, API, speech, synthesis, html5">
		<meta name="author" content="Mike Melamed">
		<meta name="copyright" content="eDeliverables Inc">

		<link rel="stylesheet" href="jquery/jquery.mobile-1.4.5.min.css"/>

		<script src="jquery-1.11.3.min.js"></script>
	 <script src="jquery.mobile-1.4.5.min.js"></script>
	<!-- <script src="blockui/jquery.blockUI.js"></script> -->
		<script src="speech.js" type="text/javascript"></script>

		<script>
			$(document).ready(function(){

				$("#doTTS").click(function() {
					doTTS();
					return false;
				});
			});

			// Initialize speech engine...
			initSpeech();
		</script>
	</head>

	<body>
		<div data-role="page">
			<div data-role="header">
				<h1>Text-To-Speech</h1>
				<center>
					<input type='button' id='doTTS' value='Speak!'/>

			  	</center>
			</div>

			<div role="main" class="ui-content">
				<fieldset>
					<legend>Cut & Paste Text To Synthesize (or enter a URL)</legend>
					<textarea class='textareaClass' id='taInput' rows="12" cols="50"></textarea><br/>
			  	</fieldset>
			  <div id='statusMsg'></div>

			</div>


		</div>

		<script>

		</script>

	</body>
</html>
